body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	background-color:  black;
	overflow-x: hidden;
	background-size: 100%;
}
h1 {
	margin-left: 450px;
	color: white;
}

img {
	margin-left: 450px;
	margin-top: 60px;
	width: 400px;
	height: 500px;
}